body {
    text-align: center;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
    margin-top: 22px;
    margin-bottom: 20px;
    padding: 3px 15px; 
}

#container {
    border: 1px solid black;
    margin: auto;
    padding: 0;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    box-sizing: border-box;
    /* width set by function */
    aspect-ratio: 1/1;
}